<h1>List of Establishments</h1>

<% @establishments.each do | establishment | %>
  <p><%= establishment.name %></p>
  <p><%= establishment.address %></p>
  <p><%= link_to 'Show', establishment %></p>
<% end %>