<h1>List of Establishments</h1>

<% @establishments.each do | establishment | %>
  <p><strong><%= establishment.name %></strong></p>
  <p>
    <%= establishment.address %>, 
    <%= link_to 'Show', establishment %>
  </p>
<% end %>